<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    

{% block styles %}
        {{ bootstrap.load_css() }}

    {% endblock %}


    
    <title>{% block title %} Ahmed-sherif website {% endblock %}</title>
</head>
<body>
    {% include 'header.html' %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}<br><br>
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    
    {% block scripts %}
        {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>